.html {
  background-color: #759dd9;
}

.jumbotron {
  border: 1px solid #000;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  max-width: 90%;
}

.gridContents {
  /* display: grid; */
}

.outerContainer {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.loginLifeStarImg {
  width: 59px;
  margin-top: -5rem;
  float: right;
}

.loginLeadMessage {
  margin-top: 1rem;
}

.loginSecondaryMessage {
  margin-top: 2rem !important;
  margin-bottom: -1rem;
}