.b-login {
  background-image:url(../images/EMTblue.jpg)!important;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  overflow-x:hidden;
}

body {
  font-size: .875rem;
  background-color: transparent;
}

p {
  font-family: 'Maven Pro', sans-serif !important;
}


label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: large;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
* Utilities
*/

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/*
End Sidebar stuff
*/
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #63b5fc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-muted {
  color: #ffffff !important;
  font-size: smaller;
}

.jumbotron {
  max-width: 95%;
  color: #fff !important;
  margin-left: auto;
  margin-right: auto;
  background-color:transparent;
  font-weight: 400;
}
.mb-4,
.my-4 {
  margin-bottom: 0.5rem !important;
  margin-top: 2.5rem !important;
  border-bottom: 1px double #fff;
  width: 30%;
}
.outerContainer {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.loginInputWidth {
  margin-bottom: 1rem;
  max-width: 20rem;
  min-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Maven Pro', sans-serif !important;

}

.loginSecondaryMessage {
  margin-top: 2rem !important;
  margin-bottom: -2rem;
  text-align: center;
  font-size: x-large;
  font-variant: all-small-caps;
  font-weight: 600;
}

.loginBtn {
  margin-top: 1rem;
  margin-left: .09rem;
}


.loginCreateAcctBtn {
  margin-top: 1rem;
  margin-right: 0rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

/* Button Effects */
.btn-hover {
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: .1rem solid #fff;
  background-size: 300% 100%;
  border-radius: .3rem;
  -o-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -webkit-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  -moz-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -ms-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  box-shadow: none !important;
  font-size: larger;
  font-weight: 700;
  text-align: justify;
  font-stretch: expanded;
  font-family: 'Maven Pro', sans-serif !important;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -webkit-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -moz-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -ms-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;

}

.btn-hover:focus {
  outline: none;
}

.blue-gradient {
  background-image: linear-gradient(to left, #3285e9, #23c5fa, #3867ff, #25aae1);
}

.aqua-gradient {
  background-image: linear-gradient(to left, #32f25e, #00d17e, #04db89, #28a745);
}

.peach-gradient {
  background-image: linear-gradient(to left, #e85a19, #fa7199, #e43603, #f3b335);
}

.btn:focus {
  outline: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

body::after,
body::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}

.headerAmbutrack {
  font-size: 4.5rem;
  font-weight: 500;
  margin-top: -1rem;
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Maven Pro', sans-serif !important;
}

.ambutrackHeaderLogo {
  width: 70% !important;
  margin: 1rem;
  margin-top: -5rem;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {}

.btnCreateNewUser {
  position: relative;
  z-index: 1;
  -webkit-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
  overflow: hidden;
  float: right;
}