@import url('https://fonts.googleapis.com/css?family=Maven+Pro:600&display=swap');

html,
body {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
    background-color: #495057;
  }

  to {
    opacity: 1;
    background-color: #ffffff;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    background-color: #495057;
  }

  to {
    opacity: 1;
    background-color: #ffffff;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    background-color: #495057;
  }

  to {
    opacity: 1;
    background-color: #ffffff;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    background-color: #495057;
  }

  to {
    opacity: 1;
    background-color: #ffffff;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #63b5fc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.jumbotron {
  border: 1px solid #000;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.gridContents {
  /* display: grid; */
}

.outerContainer {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.loginLifeStarImg {
  width: 5rem;
  margin-top: 2rem;
  float: right;
}

.headerAmbutrack {
  font-size: 4.5rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  margin-top: -1rem;
  margin-top: -5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginInputWidth {
  margin-bottom: 1rem;
  max-width: 20rem;
  min-width: 10rem;
  margin-left: 0rem;
}

.loginLeadMessage {
  margin-top: 1rem;
}

.loginSecondaryMessage {
  margin-top: 2rem !important;
  margin-bottom: -1rem;
}

.loginBtn {
  margin-top: 1rem;
  margin-left: .09rem;
}


.loginCreateAcctBtn {
  margin-top: 1rem;
  margin-right: 0rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .loginLifeStarImg {
    width: 5rem;
    margin-top: -1rem;
    position: absolute;
    float: right;
    max-inline-size: max-content;
  }

  .loginLeadMessage {
    margin-top: 5rem;
  }
}

/* Button Effects */


.btn-hover {
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000;
  background-size: 300% 100%;
  border-radius: .3rem;
  moz-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -o-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -webkit-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -o-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -webkit-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -moz-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
  -ms-transition: all 1s cubic-bezier(0.42, 0, 0.05, 0.82) !important;
}

.btn-hover:focus {
  outline: none;
}

.blue-gradient {
  background-image: linear-gradient(to left, #3285e9, #23c5fa, #38e4ff, #25aae1);
  box-shadow: 0 4px 15px 0 rgba(0, 135, 255, 0.75);
}

.peach-gradient {
  background-image: linear-gradient(to left, #e85a19, #fa7199, #e43603, #f5ce62);
  box-shadow: 0 4px 15px 0 rgba(212, 55, 2, 0.75);
}

.btn:focus {
  outline: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

body::after,
body::before {
  content: none;
  display: block;
  position: absolute;
  z-index: -1;
}

.createAccountLifeStarImg {
  width: 5rem;
  margin-top: -6rem;
  float: right;
}

@media only screen and (max-width: 900px) {
  .createAccountLifeStarImg {
    width: 4rem;
    margin-top: -4.5rem;
    position: inherit;
    float: right;
    max-inline-size: max-content;
  }
}

@media only screen and (max-width: 600px) {
  .createAccountLifeStarImg {
    width: 4rem;
    /* margin-top: -1rem; */
    /* position: absolute; */
    float: right;
    max-inline-size: max-content;
  }

  .createAccountTitle {
    margin-top: 5rem;
  }
}

.btnCreateNewUser {
  position: relative;
  z-index: 1;
  -webkit-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
  overflow: hidden;
  float: right;
}