.btn-primary {
  background-color: darkred;
  border-radius: 1rem  ;
  -webkit-border-radius: 1rem  ;
  -moz-border-radius: 1rem  ;
  -ms-border-radius: 1rem  ;
  -o-border-radius: 1rem  ;
}
.list-group {
  border-style: solid;
  border-color: darkslategrey;
}